*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  z-index: 0;
}

.footer-row{
  width:100%;
  font-style: normal;
}

.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-col1{
  width:40%;
  float: left;
  padding: 30px;
}
.footer-col2{
  width:30%;
  float: left;
  padding: 30px;
}

.text-justify{
  padding: 0;
}

.site-footer
{
  background-color:#EAEAEA;
  font-size:15px;
  line-height:24px;
  color:black;
}
.site-footer hr
{
  border-top-color:black;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}

.footer-container{
  padding: 40px;
}
.site-footer h6
{
  color:black;
  font-size:16px;
  font-family: 'Comfortaa', cursive;
  text-transform:uppercase;
  font-weight: bold;
  margin-top:5px;
  letter-spacing:1px
}

.site-footer a
{
  color:black;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  text-decoration: none;
  color:black;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.copyright
{
  text-align: center;
  margin-top: 10px;
  font-style: normal;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .footer-col1{
    width:100%;
    padding: 10px;
  }
  .footer-col2{
    width:100%;
    padding: 10px;
}
    .footer-container{
      padding: 20px 40px;
  }

  .site-footer h6{
    font-size: 14px;
  }
}
